@using BrewMVC.ViewModel
@using BrewMVC.ViewModel.MenuItems
@model CategoryMenuItemVM
@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <!-- Menu Header -->
    <header class="my-4 py-4 text-center bg-white rounded-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="custom-heading mb-4">Our Complete Menu</h1>
                <p class="custom-p fs-5">
                    Every item on our menu is prepared with care, finest ingredients and sustainable choices
                </p>
            </div>
        </div>
    </header>

    @foreach (var category in Model.CategoryOrder.Where(c => Model.MenuByCategory.ContainsKey(c)))
    {
        <!-- Menu category section -->
        <section class="my-4 py-4 bg-white rounded-3">
            <div class="px-4">
                <header class="text-center mb-5">
                    <h2 class="custom-heading">@category</h2>
                    <div class="spacer"></div>
                </header>

                <div class="row g-5">
                    @foreach (var item in Model.MenuByCategory[category])
                    {
                        <div class="col-lg-3">
                            <!-- Menu item section -->
                            <article class="card border-0 shadow-sm h-100">
                                <a asp-controller="MenuItem" asp-action="Details" asp-route-id="@item.MenuItemId"
                                   class="text-decoration-none">
                                        <!-- Menu img -->
                                        <img src="@item.ImageUrl"
                                             class="card-img-top"
                                             style="height: 180px; object-fit: cover;"
                                             alt="Image of menu item: @item.Name" />
                                    <!-- Menu Title -->
                                    <div class="card-body text-center">
                                        <h3 class="card-title custom-h3 mb-2">@item.Name</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
</div>